* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
main div p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
}
main .content-container > p:last-child{
  font-style: italic;
}
header {
  background-color: #03a3df;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 12rem;
}
.content-container {
  margin: 2rem 15rem;
}
footer .content-container,
header .content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer nav,
header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer nav ul,
header nav ul {
  display: flex;
  flex-direction: row;
}
footer nav ul li,
header nav ul li{
  margin: 0;
  list-style: none;
  padding-right: .7rem;
  color: white;
  font-family: 'Oswald', sans-serif;
}
nav ul li a:hover,
nav ul li:hover a{
  color: white;
  font-weight: bolder;
  font-size: 1.1rem;
}
header li:nth-child(-n+3)::after {
  padding-left: .7rem;
  content: "/";
}
i {
  font-size: 2rem;
  padding-left: 1rem;
}
main {
  margin-top: 16rem;
  margin-bottom: 10rem;
}
video {
  float: right;
  margin: 0 0 1rem 1rem;
}
footer {
  position: relative;
  width: 100%;
  background-image: url('../design-elements/footerImage.jpg');
  background-size:auto;
  margin: auto;
  overflow: auto;
}
.home-footer {
  position: absolute;
  bottom: 0;
}
footer div {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
footer p {
  font-family: 'Oswald', sans-serif;
  font-size: .7rem;
  color: white;
}
main nav {
  position:fixed;
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  background-color: #444444;
  top: 12rem;
  left: 0;
}

main nav ul {
  display: flex;
  flex-direction: row;
}
main nav ul li{
  margin: 0;
  list-style: none;
  padding-right: .5rem;
  color: white;
  font-family: 'Oswald', sans-serif;
}
main li:first-child::after {
  padding-left: .5rem;
  content: "/";
}
.classes section,
.private section {
  background-color: #1b447f;
  margin-bottom: 2.5rem;
}
article {
  color: white;
  margin: 2rem;
  overflow:auto;
}
.classes article section,
.private article section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.classes article p:nth-child(even),
.private article p:nth-child(even) {
  margin-left: 10rem;
}
.classes article p:first-child::before,
.private article p:first-child::before{
  content: "Description: ";
  color: #ecb722;
  font-weight: bold;
}
.classes article p:nth-child(3)::before{
  content: "Prerequisite: ";
  color: #ecb722;
  font-weight: bold;
}
.classes article p:nth-child(2)::before,
.private article p:nth-child(2)::before{
  content: "Cost: ";
  color: #ecb722;
  font-weight: bold;
}
.classes article p:nth-child(4)::before{
  content: "Schedule: ";
  color: #ecb722;
  font-weight: bold;
}
h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: .3rem;
  padding-bottom: .5rem;
  border-bottom: solid #ecb722;
}
h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: .3rem;
  padding-bottom: .5rem;
  border-bottom: solid #ecb722;
}
#classes-start::before {
  display: block;
  content: " ";
  margin-top: -20rem;
  height: 20rem;
  visibility: hidden;
}
#private-start::before {
  display: block;
  content: " ";
  margin-top: -18rem;
  height:18rem;
  visibility: hidden;
  pointer-events: none;
}
/* Contact form */
label {
  display: block;
  font-family: 'Oswald', sans-serif;
}
label,
textarea,
select,
input {
  margin-top: 1rem;
}
textarea {
  vertical-align: top;
}
input #emailSelect,
input #phoneSelect{
  font-family: 'Oswald', sans-serif;
}
label[for="phoneNumber"],
#phoneNumber{
  display: none;
}
label[for="emailAddress"],
#emailAddress {
  display: none;
}
input[id="phoneSelect"]:checked + label + input + label[for="phoneNumber"],
input[id="phoneSelect"]:checked + label + input + label + #phoneNumber{
  display: block;
}
input[id="emailSelect"]:checked + input + label[for="emailAddress"],
input[id="emailSelect"]:checked + input + label + #emailAddress{
  display: block;
}
input[type="submit"] {
  display: block;
  padding: .5rem 1rem;
}
.contact-form-intro::after {
  content: "\A""528 Nock Point Ln \A""Tacoma, WA 98412";
  display: block;
  white-space: pre;
}
