* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
main div p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10;
}
main div p:last-child{
  font-style: italic;
}
header {
  background-color: #03a3df;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
}
.content-container {
  margin: 2rem 15rem;
}
header .content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;

}
header nav ul {
  display: flex;
  flex-direction: row;
}
header nav ul li{
  margin: 0;
  list-style: none;
  padding-right: .5rem;
  color: white;
  font-family: 'Oswald', sans-serif;
}
li:nth-child(-n+2)::after {
  padding-left: .5rem;
  content: "/";
}
main {
  margin-top: 20rem;
  margin-bottom: 10rem;
}

footer {
  position: relative;
  width: 100%;
  background-image: url('../design-elements/footerImage.jpg');
  background-size:auto;
  margin: auto;
  overflow: auto;
}
footer div {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
footer p {
  font-family: 'Oswald', sans-serif;
  font-size: .7rem;
  color: white;
}
